<style >

body {
    font-family: Arial, sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2019/12/18/13/56/glasses-4704055_1280.jpg'); /* 将 'your-image.jpg' 替换为你的图片路径 */
    background-size: cover; /* 图片覆盖整个页面 */
    background-repeat: no-repeat; /* 防止图片重复 */
    background-attachment: fixed; /* 固定背景图片，使其不随页面滚动而移动 */
}

.container {
    max-width: 400px;
    margin: 210px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.login-container h2 {
    margin-top: 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: #45a049;
    }

.error-message {
    color: red;
    margin-bottom: 10px;
}

header h1 {
    font-size: 36px;
    margin-left: 50px;
    color: #000000;
}

</style >
